/* Client/Homes/GestionarUsuarios.css */

/* Estilos específicos para la gestión de usuarios */

/* Resaltar la insignia de Profesor y Estudiante */
.badge.bg-info {
    /* Color de profesor */
    background-color: var(--secondary-color) !important;
}

.badge.bg-success {
    /* Color de estudiante */
    background-color: var(--primary-color) !important;
}

/* Estilo para el modal de reseteo */
#resetPasswordModal .modal-header.bg-warning {
    background-color: #ffc107 !important; /* Amarillo de Bootstrap */
    color: #343a40 !important;
}